<footer class="footer">
    <span class="footer__copyright">&copy; {{date format="YYYY"}}.  All Rights Reserved.</span>
    <span class="footer__copyright">感谢<a href="https://www.alpharacks.com/myrack/aff.php?aff=374" target="_blank">Alpharacks</a> 为本站提供稳定的 <a href="https://www.alpharacks.com/myrack/aff.php?aff=374" target="_blank">VPS</a>服务</span>
    <span class="footer__copyright">Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a></span>
</footer>
