<nav class="cover-navigation navigation--social">
  <ul class="navigation">


  <!-- Weibo -->
  <li class="navigation__item">
    <a href="http://weibo.com/525567789" title="微博" target="_blank">
      <i class='social fa fa-weibo'></i>
      <span class="label">Weibo</span>
    </a>
  </li>

  <!-- Github -->
  <li class="navigation__item">
    <a href="https://github.com/liuzhiyi1992" title="Github" target="_blank">
      <i class='social fa fa-github'></i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- Instagram -->
  <li class="navigation__item">
    <a href="https://www.instagram.com/liuzhiyilosemyself" title="Instagram" target="_blank">
      <i class='social fa fa-instagram'></i>
      <span class="label">Instagram</span>
    </a>
  </li>

  <!-- Album -->
  <li class="navigation__item">
    <a href="http://forv.pp.163.com/" title="Album" target="_blank">
      <i class='social fa fa-github-alt'></i>
      <span class="label">Album</span>
    </a>
  </li>


  <!-- Twitter -->
<!--
  <li class="navigation__item">
    <a href="http://twitter.com" title="@twitter" target="_blank">
      <i class='social fa fa-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>
-->

  <!-- jianshu -->
  <li class="navigation__item">
    <a href="http://www.jianshu.com/users/e2ed12011d4f/latest_articles/" title="简书" target="_blank">
      <i class='social fa fa-book'></i>
      <span class="label">简书</span>
    </a>
  </li>


  <!-- RSS -->
  <li class="navigation__item">
    <a href="{{@blog.url}}/rss/" rel="author" title="RSS订阅" target="_blank">
      <i class='social fa fa-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>

  <!-- Email -->
  <li class="navigation__item">
    <a href="mailto:55137840@qq.com" title="邮件联系我">
      <i class='social fa fa-envelope'></i>
      <span class="label">Email</span>
    </a>
  </li>

  </ul>
</nav>
